var formatPrice = function(price) {
  return price.toFixed(2);
};

var isProductSelected = function(selectedProducts, productId) {
  for (var i = 0; i < selectedProducts.length; i++) {
    if (selectedProducts[i].id === productId) {
      return true;
    }
  }
  return false;
};

module.exports = {
  formatPrice: formatPrice,
  isProductSelected: isProductSelected
};
